<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miaojie.ptest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:theme="@style/AppTheme.NoActionBar" -->
    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:alwaysRetainTaskState="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.WebViewActivity" />
        <activity android:name=".Activity.PlayManageActivity" />
        <activity
            android:name=".Activity.UserManageActivity"
            android:alwaysRetainTaskState="true" />
        <activity android:name=".Activity.ScheduleManageActivity" />
        <activity android:name=".Activity.StudioManageActivity" />
        <activity android:name=".Activity.SeatManageActivity" />
        <activity android:name=".Activity.AddPlayActivity" />
        <activity android:name=".Activity.PlayEditActivity" />
        <activity android:name=".Activity.AddStudioActivity" />
        <activity android:name=".Activity.EditStudioActivity" />
        <activity android:name=".Activity.AddScheduleActivity" />
        <activity android:name=".Activity.EditScheduleActivity" />
        <activity android:name=".Activity.StudioSeatManageActivity" />
        <activity android:name=".Activity.AddUserActivity" />
        <activity
            android:name=".Activity.EditUserActivity"
            android:alwaysRetainTaskState="true" />
        <activity android:name=".Activity.ChooseSchedule" />
        <activity android:name=".Activity.SaleTicketChooseSeat" />
        <activity android:name=".Activity.TestActivity" />
        <activity android:name=".Activity.ShowSaleActivity"/>
    </application>

</manifest>